.checkbox-block {
    color: var(--color-text-complement);
    font-size: 1.4rem;
    margin-top: 1.6rem;
}

.checkbox-label {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-custom {
    position: absolute;
    top: -0.1rem;
    left: 0;
    border-radius: 0.6rem;
    height: 22px;
    width: 22px;
    background-color: var(--color-input-background);
}

.checkbox-label:hover input ~ .checkbox-custom {
    background-color: var(--color-input-background);
}

.checkbox-label input:checked ~ .checkbox-custom {
    background-color: var(--color-secundary);
}

.checkbox-custom:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-label input:checked ~ .checkbox-custom:after {
    display: block;
}
 
.checkbox-label .checkbox-custom:after {
    left: 0.65rem;
    top: 0.3rem;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}